@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{scroll-behavior: smooth;

}  

body{
	margin: 0;
	padding: 0;
	font-family:'Montserrat', sans-serif;
} 


	/*Navigation Bar*/

nav{
	display: flex;
	justify-content: space-around;
	border-bottom: 5px solid #6f6f6f;
}

nav .logo 
{
	display: flex;
	flex-direction: row;
	flex-wrap: row-wrap;
	flex-grow: 1 100%;
	align-items: center;
}

nav img{
	width: 80px;
}

nav h1{
	color: #717171;
	font-family: 'Playfair Display',sans-serif;
	font-size: 30px;
}

nav .onglets{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	margin-top: 3px;
	margin-bottom: 10px;
}

nav .onglets a{
	text-decoration: none;
	color: #000;
	margin-right: 20px;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	display: flex;
	flex-wrap:wrap;
}

nav .onglets :hover{
	color: #ff3c78;
	border-bottom: 1px solid #ff3c78;
}


	/*Header*/


.container{
	background-color: black;
	display: flex;
	/*flex-wrap: wrap;*/
	flex-grow: 1 100%;
	margin-bottom: 100px;
}

.container .item1 img{
	/*flex: 0 0 35%;*/
	margin : -20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}	

.container .item2{
	flex: 0 0 35%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container .item3 h1{
	color: white;
	font-size: 50px;
	text-align: center;
	justify-content: center;
	font-family: 'Playfair Display',sans-serif;
}	

.container .item4 h4{
	color: white;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.container .item5 button{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 50px;
	/*color: white;
	font-size: 24px;*/
	text-align: center;
	padding: 10px 20px;
	background-color: #fff;
	color: #000;
	border: none;
	font-size: 20px;
	font-family: 'Playfair Display',sans-serif;
	outline: none;
}



	/*Main part*/


.main{
	margin-top: 40px;
	display:flex;
	flex-direction: column;
	align-items:center;
}	


.main .services{
	font-size: 35px;
	font-family: 'Playfair Display', sans-serif;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: row-wrap;
	flex-grow: 1 100%;
	align-items: center;
	justify-content: center;
}

.main .services:before{
	content:"";
	display: inline-flex;
	width: 120px;
	height: 2px;
	margin: 50px;
	background: #000;
	position: relative;
}

.main .services:after{
	content:"";
	display: inline-flex;
	margin: 50px;
	width: 120px;
	height: 2px;
	background: #000;
	position: relative;
}

	
.main .content .card{
	display: flex;
	flex-direction: row;
	justify-content: center;
/*	align-items: center;*/
	margin: 20px;
}

.main .content .card .left{
	padding: 20px;
	background-color: black;
	color: #fff;
	flex: 0 0 20%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: justify;
	border-top: 5px solid #717171;
	border-left: 10px solid #717171;
}


	/*Footer*/


footer{
	margin-top: 40px;
	border-top: 5px solid #6f6f6f;
	background-color: #000;
	color: #fff;
	padding:30px 100px;
}

footer h1{
	font-family: 'Playfair Display', sans-serif;
	border-bottom: 1px solid #fff;
	text-align: center;
	padding-bottom: 10px;
}


footer .title{
	margin-top: 20px;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap; 
	justify-content: center;
	align-items: center;
} 

footer .main{
	margin-top: 20px;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap; 
	justify-content: flex-start;
	align-items: center;
}

footer .Ourchefs{
	margin-top: 20px;
	display:flex;
	flex-wrap:wrap; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer .chefs{
	margin: 20px;
	flex: 0 0 30%;
	display:flex;
	flex-wrap:wrap; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chefs h2{
	text-align: center;
}

.Ourchefs .chefs p{
	text-align: center;
	margin-left: -10px;
	text-align: justify;
	padding: 10px;
}	

footer img{
	width: 450px;
	padding-bottom: -50px;
	height: 300px;
}	

footer .contact{
	display:flex;
	flex-wrap:wrap; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

footer #Contact{
	color: rgb(181,181,181);
}

.socialmedia{
	margin-top: 5px;
}

.social-icon{
	color:#aaaaaa;
	transition: color 0.2;
	text-decoration: none;
    height: 3em;
}

.social-icon :hover {
	color: #333333;
}


	/*For ipad screens*/

@media all and (max-width:820px){

	body{
	min-width: 300px;
	} 


	/*Navigation Bar*/


	nav{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

nav .logo 
{
	display: flex;
	flex-direction: row;
	flex-wrap: row-wrap;
	flex-grow: 1 100%;
	align-items: center;
	justify-content: center;
}

	/*Header*/

.container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1 100%;
	margin-bottom: 10px;
}	

.container .item1{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
}

.container .item1 img{
	margin : -20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
}

	/*Main part*/

.main .content .card{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	margin: 150px;
}

.main .content .card .left{
	padding: 20px;
	background-color: black;
	color: #fff;
	border-top: 5px solid #717171;
	border-left: 10px solid #717171;
	display: flex;
	flex-direction: column;
}

.main .content .card.right{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
}


	/*Footer*/

footer{
	padding: 30px;
} 


}


/*For smartphones screens*/

@media all and (max-width:768px){

	body{
	min-width: 300px;
	} 


	/*Navigation Bar*/

nav{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

nav .logo 
{
	display: flex;
	flex-direction: row;
	flex-wrap: row-wrap;
	flex-grow: 1 100%;
	align-items: center;
	justify-content: center;
}


	/*Header*/

.container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}
	
.container .item1{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
}

.container .item1 img{
	margin : -20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
}

.container .item3 h1{
	margin-top: 10px;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: 'Playfair Display',sans-serif;
}	


	/*Main part*/

.main .services{
	font-size: 20px;
	font-family: 'Playfair Display', sans-serif;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: row-wrap;
	flex-grow: 1 50%;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.main .content .card{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	text-align: right;
	margin: 50px;
}

.main .content .card .left{
	margin-right: 50px;
	margin-left: 50px;
}


	/*Footer*/

footer{
	flex-grow: 1 100%;
} 


footer img{
	width: 250px;
	padding-bottom: -50px;
	height: 150px;
}	


}
